@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

body {
    background-color: #121212;
}

h1 {
    font-size: 3em;
    text-align: center;
    padding: 1rem;
    font-family: 'Shilla_CultureB-Bold';
    color: white;
}


.grid__wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;
}

.grid__wrapper .wide {
    grid-column: span 2;
}

.grid__wrapper .tall {
    grid-row: span 2;
}

.grid__wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}


#footer__wrapper {
    color: white;
    font-family: 'Pretendard-Regular';
    text-align: center;
}

#footer__wrapper__desc {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 1px solid #ededed1f;
    margin-top: 2rem;
}

#footer__link {
    display: flex;
    justify-content: center;
    align-items: center;

}

#bar {
    margin: 0 10px 0 10px;
}

#footer__link>p>a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}